html,
body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2cc8f;
}

.box {
  display: flex;
}


.box .inner {
  width: 400px;
  height: 200px;
  line-height: 200px;
  font-size: 4em;
  font-family: sans-serif;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}

.box .inner:first-child {
  background-color: #c9184a;
  color: #590d22;
  transform-origin: right;
  transform: perspective(100px) rotateY(-15deg);
}

.box .inner:last-child {
  background-color: #ff4d6d;
  color: antiquewhite;
  transform-origin: left;
  transform: perspective(100px) rotateY(15deg);
}


